@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    margin: 0;
    font-weight: 300;
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 40px;
    position: sticky;
    background-color: #5D01C7;
    color: #ffffff;
}

.headerWrap {
    display: flex;
    justify-content: space-between;
}

.content {
    margin-left: 10%;
    margin-right: 10%; 
}

